*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.image-box {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-primary {
  background-color: #2e2f42;
}
.section-tertiary {
  background-color: #f4f4fd;
}
.list-tertiary {
  background-color: #ffffff;
}
.header-border {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
}
.nav {
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
}
.logo-header {
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-header:hover,
.logo-header:focus {
  color: black;
}
.logo-header-primary {
  color: #2e2f42;
}
.header-primary {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.header-invisible {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header-secondary {
  color: #2e2f42;
  background-color: #f4f4fd;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.header-tertiary {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph {
  color: #434455;
  letter-spacing: 0.02em;
}
.address {
  background-color: #e7e9fc;
  font-style: normal;
}
.page-nav .link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
  text-decoration: underline;
}
.page-contact .link {
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.page-contact .link:hover,
.page-contact .link:focus {
  color: #404bbf;
  text-decoration: underline;
}
.page-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo-footer {
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer:hover,
.logo-footer:focus {
  color: black;
}
.logo-footer-secondary {
  color: #f4f4fd;
}
.footer-background {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-item {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
